/* ---- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ## Colors */
  /* ### Primary */
  --Pale-Violet: hsl(276, 100%, 81%);
  /* (sub-heading at the top of the app UI) */
  --Moderate-Violet: hsl(276, 55%, 52%); /* (chat on the left) */
  --Desaturated-Dark-Violet: hsl(271, 15%, 43%); /* (chat on the right) */
  --Grayish-Blue: hsl(206, 6%, 79%); /* (placeholder text) */
  --Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%); /* (main heading) */
  --Dark-Grayish-Violet: hsl(270, 7%, 64%); /* (paragraph) */
  /* #### Gradients */
  /* These two colors are the vibrant background colors you see throughout the design and are applied as a linear gradient: */
  --Light-Magenta: hsl(293, 100%, 63%);
  --Light-Violet: hsl(264, 100%, 61%);
  /* ### Secondary */
  --White: hsl(0, 0%, 100%);
  --Light-Grayish-Violet: hsl(270, 20%, 96%); /*  (app background) */
  --Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
  /* (submit button background) */
  --Very-Light-Magenta: hsl(289, 100%, 72%); /* (radio button outline) */
  /* ## Typography */
  /* ### Body Copy */
  --Font-size: 16px;
  --Weights: 400, 500, 700;
  /* footer link color */
  --a-blue: hsl(228, 45%, 44%);
}

/* General Styling */
body {
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; */
  background-color: var(--Grayish-Blue);
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  font-weight: var(--Weights);
  font-style: normal;
  height: 100vh;
}

.colored-bg-1 {
  margin-bottom: 100px;
  background-color: var(--Moderate-Violet);
  width: 25rem;
  height: 47rem;
  border-bottom-right-radius: 50rem;
  border-bottom-left-radius: 50rem;
}

.colored-bg-2 {
  margin-top: 100px;
  background-color: var(--Light-Grayish-Violet);
  width: 25rem;
  height: 47rem;
  border-top-right-radius: 50rem;
  border-top-left-radius: 50rem;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 800px;
}

.iphone-frame {
  min-width: 375px;
  height: auto;
  background-color: var(--White);
  border-radius: 55px;
  border: 13px solid var(--White);
}

/* ---- gradient chat header inside iphone ---- */
.chat-header {
  background: linear-gradient(90deg, var(--Light-Violet), var(--Light-Magenta));
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  border-radius: 3rem 3rem 0.5rem 0.5rem;
  color: var(--White);
}

.center-header {
  width: 200px;
  height: 35px;
  margin: 0 0 1rem 0;
  background-color: var(--White);
  border-radius: 0 0 20px 20px;
}

.user-info {
  margin: 0 0 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 8px;
}

.back-arrow {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1.3rem;
}

.image-avatar {
  border-radius: 100%;
  width: 35px;
  border: 2px solid var(--White);
}

.header-txt {
  font-size: var(--Font-size);
  margin-bottom: 5px;
}

.small-txt {
  color: var(--Grayish-Blue);
  font-size: 12px;
}

.three-dots {
  margin-left: 7rem;
  font-weight: 900;
}

/* --------- chat body --------- */
.chat-body {
  padding: 0.8rem;
  border-radius: 0 0 50px 50px;
  background-color: var(--Light-Grayish-Violet);
}

/* ---- Middle Chat ---- */
.second-chat {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: left;
  text-align: left;
}

.dog-image {
  width: 70px;
  border-radius: 10px;
}

.texts-1 {
  font-size: 14px;
  margin: 10px 0 10px 0;
  width: 210px;
  padding: 0.5rem;
  color: var(--Desaturated-Dark-Violet);
  background-color: var(--White);
  border-radius: 15px 15px 3px 15px;
}

.texts-2 {
  font-size: 14px;
  margin: 5px 0 10px 0;
  width: 150px;
  padding: 0.5rem;
  color: var(--Desaturated-Dark-Violet);
  background-color: var(--White);
  border-radius: 15px 15px 3px 15px;
}

/* ---- chat text on the right ---- */
.normal-txt {
  font-size: 14px;
  margin: 10px 0 10px 0;
  width: 210px;
  padding: 0.5rem;
  color: var(--Moderate-Violet);
  background-color: var(--Grayish-Blue);
  border-radius: 15px 15px 15px 3px;
}

.gradient-txt {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 1.5rem;
  margin: 10px 0 10px 0;
  border-radius: 15px 15px 15px 3px;
  width: 250px;
  color: var(--White);
  background: linear-gradient(
    125deg,
    var(--Light-Magenta),
    var(--Light-Violet)
  );
}

.circles {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 2px solid var(--Very-Light-Magenta);
}

.prices {
  font-size: 1.3rem;
  font-weight: 600;
}

/* ---- input box ---- */
.input-message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.4rem 0.4rem 0.4rem 2rem;
  color: var(--Dark-Grayish-Violet);
  background-color: var(--White);
  border-radius: 30px;
  margin-top: 1rem;
}

.send {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  padding: 0.5rem;
  font-weight: 900;
  font-size: 1.5rem;
  color: var(--White);
  background-color: var(--Very-Dark-Desaturated-Violet);
}

/* ---- main text container outside iphone frame ---- */
.main-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2rem;
}

.main-heading {
  color: var(--Very-Dark-Desaturated-Violet);
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.main-paragraph {
  color: var(--Dark-Grayish-Violet);
  text-align: justify;
}

/* ---- animation for the fade in when pages loads ---- */
/* .fade-in{

} */

@media screen and (max-width: 375px) {
  body {
    flex-direction: column;
  }

  .colored-bg-1 {
    bottom: 0;
    right: -50%;
  }

  .colored-bg-2 {
    bottom: -50%;
    right: 0;
  }

  .container {
    width: 360px;
    gap: 20px;
    flex-direction: column;
  }

  .iphone-frame {
    width: 20%;
  }
}

.attribution {
  font-size: 14px;
  text-align: center;
  bottom: 1rem;
  a {
    color: hsl(228, 45%, 44%);
  }
}
